body {
    background-color: #778874;
    font-family: 'San Francisco', sans-serif;
    color: #E1C8AC;
}

header {
    background-color: #383F32;
    padding: 10px;
}

h1.underlined {
    text-decoration: underline;
    color: #A67852;
}

h2 {
    font-size: smaller;
    color: #CEA780;
}

main {
    background-color: #825239;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #00ff00;
    text-align: center;
}

